body { 
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("imagens\lago-moraine-banff-canada3-820x546-1.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('imagens\lago-moraine-banff-canada3-820x546-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}