body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("imagens\hatsune-miku-1.webp");
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
}
